# personal directories
.cloned/
Downloads/
uni/
workspace/

# directories that should be there
.cache/
.local/
.ssh/
.icons/
.dotfiles/

# directories and files that shouldn't be there
.yarn/
.yarnrc
.wget-hsts
.python_history
.nvm/
.npmrc
.Xauthority
